@use "../../App.scss" as main;

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-left: main.$margin-content;
  background-color: main.$background-white;
  padding-right: 5em;
}

.NavBar ul {
  display: flex;
  list-style-type: none;
  float: right;
}

.NavBar li a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  padding: 14px 16px;
}

.Logo {
  color: black;
  text-decoration: none;
}
