$main-color: red;
$margin-content: 7em;
$background-grey: #efefef;
$background-white: #fafafa;
$grey-color: #c2bfbc;
$black-shade-color: #3d3d3d;
$grey-text: #595959;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
